<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
      <p>Item_Name: <input type="text" name="item_name" ></p>
      <p>Item_ID: <input type="text" name="item_id" ></p>
      <input type="submit" value="Search" >
    </form>
    <form action="" method="get">
      <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
       {% for source in sources %}
          {% if source == current_item %}
            <option selected value="http://0.0.0.0:5000/{{source}}">{{source}}</option>
          {% else %}
            <option value="http://0.0.0.0:5000/{{source}}">{{source}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </form>
    <script type="text/javascript">
    <!--
    function MM_jumpMenu(targ,selObj,restore){ //v3.0
    eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
    if (restore) selObj.selectedIndex=0;
    }
    //-->
    </script>
  <h1>test</h1>
  <table border="1" style="width:100%">
  {% for key in json_key %}
    {% if key == "prop_images" %}
      <tr>
        <th  rowspan="{{prop_length}}">{{key}}</th>
        {% for url in prop_list %}
          <td ><img src="{{url}}" style="width:304px;height:228px;"></td>
      </tr>
      <tr>
        {% endfor %}
    {% elif key == "gallery_images" %}
      <tr>
        <th  rowspan="{{gallery_length}}">{{key}}</th>
        {% for url in gallery_list %}
          <td><img src="{{url}}" style="width:304px;height:228px;"></td>
      </tr>
      <tr>
        {% endfor %}
    {% elif key == "extra_images" %}
      <tr>
        <th  rowspan="{{extra_length}}">{{key}}</th>
        {% for url in extra_list %}
          <td><img src="{{url}}" style="width:304px;height:228px;"></td>
      </tr>
      <tr>
        {% endfor %}
    {% elif key == "url" %}
      <tr>
        <td>{{key}}</td>
        <td><a href="{{json_dict[key]}}">{{json_dict[key]}}</a></td>
      </tr>
      <tr>
    {% elif key == "shop_url" %}
      <tr>
        <td>{{key}}</td>
        <td><a href="{{json_dict[key]}}">{{json_dict[key]}}</a></td>
      </tr>
    {% else %}
      <tr>
        <td>{{key}}</td>
        <td>{{json_dict[key]}}</td>
      </tr>
    {% endif %}
  {% endfor %}
{% endblock %}